@charset "utf-8";

.myblack {background-color: #000000;}

.myorange {background-color: #FF8F39;}

.myheader {background-image: url("../image/day6 images for website/header_bg.jpg"); height: 100px;}

.myboxsize {
	height: 200px;
	}

